version: "3.9"
services:
  app:
    image: ghcr.io/muratakatsutoshi/moji-count:${TAG:-latest}
    env_file: .env
    depends_on: [redis]
    volumes:
      - ./storage:/var/www/html/storage
      - ./bootstrap/cache:/var/www/html/bootstrap/cache
    restart: always

  web:
    image: nginx:stable
    depends_on: [app]
    ports: ["80:80"]
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./public:/var/www/html/public
      - ./storage:/var/www/html/storage
    restart: always

  redis:
    image: redis:7
    restart: always
