services:
  app:
    image: ghcr.io/nekon1021/moji-count@sha256:9a61a776fe92f80e7c4a75b1d416f62e6d172e0cb8d9b35c059207d76716af13
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_KEY: base64:crAl1vZCGFO6DUZqRJA+awn8CbjMK6j+VBdOJp5Feiw=
      APP_URL: "https://toolshub.jp"
      SESSION_DRIVER: file
      CACHE_DRIVER: file
      LOG_CHANNEL: stderr
      LOG_LEVEL: info
      SESSION_SECURE_COOKIE: "true"
    volumes:
      - app-storage:/var/www/html/storage
      - app-bootstrap-cache:/var/www/html/bootstrap/cache
    expose:
      - "9000"
    restart: always
    read_only: true
    tmpfs:
      - /tmp
    healthcheck:
      test: ["CMD", "php", "-v"]
      interval: 30s
      timeout: 3s
      retries: 3

  init-public:
    image: ghcr.io/nekon1021/moji-count@sha256:9a61a776fe92f80e7c4a75b1d416f62e6d172e0cb8d9b35c059207d76716af13
    command: ["sh", "-lc", "cp -a /var/www/html/public/. /mnt/target && ls -la /mnt/target | sed -n '1,80p'"]
    volumes:
      - app-public:/mnt/target
    restart: "no"

  web:
    image: nginx:1.27-alpine
    depends_on:
      app:
        condition: service_started
      init-public:
        condition: service_completed_successfully
    ports:
      - "127.0.0.1:8081:80"
    volumes:
      - web-conf:/etc/nginx/conf.d
      - app-public:/var/www/html/public:ro
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1/healthz >/dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 3s
      retries: 3

volumes:
  app-storage:
  app-bootstrap-cache:
  web-conf:
  app-public:
